{% extends "layouts/base.html" %}
{% import 'macros/buttons.html' as buttons with context %}
{% block title %}{{ title }}{% endblock %}

<style>
.text-dark-blue {
  color: #005b96 !important;
}
</style>

{% block content %}
<div class="card shadow border-0 mb-4">
  <!-- Header with title and card counter -->
  <div class="card-header bg-gradient-primary text-white d-flex justify-content-between align-items-center py-3">
    <h1 class="fs-4 emphasised-text" style="color: #005b96;"><i class="bi bi-book-half me-2" style="color: #005b96;"></i>{{ title }}</h1>
    <div class="d-flex align-items-center">
      {% block header_buttons %}{% endblock %}
      {% if header_assets is defined %}
        {{ header_assets|safe }}
      {% endif %}
    </div>
  </div>

  <div class="card-body p-4">
    {% block content_body %}{% endblock %}
  </div>
</div>
{% endblock %}