{# create_view_edit_company.html #}

{% extends "page_templates/_create_view_edit.html" %}

{% import 'macros/render_form_fields.html' as field_macros with context %}
{% import 'macros/tabs.html' as tab_macros with context %}

{% block view_template_content %}
<form method="post" action="{{ submit_url }}" id="main-form">
  {{ csrf_input }}
  <div class="tab-content" id="formTabsContent">
    {% for tab in tabs %}
      {% include 'pages/companies/tabs/_tab_' + tab.tab_name|lower|replace(' ', '_') + '.html' %}
    {% endfor %}
  </div>
</form>
{% endblock view_template_content %}