{% extends "pages/base/page.html" %}
{% import "macros/form_fields.html" as macros %}

{% block content %}
<div class="card border-0 shadow-sm">
  <div class="card-header bg-white py-3">
    <div class="row align-items-center">
      <div class="col">
        <div class="d-flex align-items-center">
          {% include 'pages/form/_header.html' %}
        </div>
      </div>
      <div class="col-auto">
        {% include 'pages/form/_buttons.html' %}
      </div>
    </div>
  </div>

  <div class="card-body">
    <form method="POST">
      {% if fields %}
        {% include 'pages/form/_tabs_and_sections.html' %}
      {% else %}
        {% include 'pages/base/common/_section_layout.html' %}
      {% endif %}

      {% if not read_only %}
        {% include 'pages/base/common/_form_autocomplete.html' %}
      {% endif %}

      {% if not read_only %}
        {% include 'pages/base/common/_form_footer.html' %}
      {% endif %}
    </form>
  </div>
</div>
{% endblock %}

{% block extra_scripts %}
  <script src="{{ url_for('static', filename='js/tabs.js') }}"></script>
{% endblock %}
