{# ------------------------------------------------------------------------------
  File: nav_items.html | Purpose: Shared definition of navigation items
------------------------------------------------------------------------------ #}

{% macro get_nav_items() %}
  [
    {'name': 'companies', 'display_name': 'Companies', 'icon': 'fa-building'},
    {'name': 'contacts', 'display_name': 'Contacts', 'icon': 'fa-address-card'},
    {'name': 'opportunities', 'display_name': 'Opportunities', 'icon': 'fa-chart-line'},
    {'name': 'users', 'display_name': 'Users', 'icon': 'fa-users'},
    {'name': 'tasks', 'display_name': 'Tasks', 'icon': 'fa-tasks'},
    {'name': 'settings', 'display_name': 'Settings', 'icon': 'fa-cog'}
  ]
{% endmacro %}