{# partials/form_tabs.html #}
<div class="form-tabs">
  <ul class="nav nav-tabs" id="formTabs" role="tablist">
    {% for tab in form_definition.tabs %}
      <li class="nav-item" role="presentation">
        <button class="nav-link {% if loop.first %}active{% endif %}"
                id="tab-{{ tab.name|lower }}-tab"
                data-bs-toggle="tab"
                data-bs-target="#tab-{{ tab.name|lower }}"
                type="button"
                role="tab"
                aria-controls="tab-{{ tab.name|lower }}"
                aria-selected="{% if loop.first %}true{% else %}false{% endif %}">
          {{ tab.name }}
        </button>
      </li>
    {% endfor %}
  </ul>

  <div class="tab-content" id="formTabsContent">
    {% for tab in form_definition.tabs %}
      <div class="tab-pane fade {% if loop.first %}show active{% endif %}"
           id="tab-{{ tab.name|lower }}"
           role="tabpanel"
           aria-labelledby="tab-{{ tab.name|lower }}-tab">
        {% for section in tab.sections %}
          {% include "partials/form_section.html" %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>