{% set tabs = {} %}
{% for group_fields in __field_order__.values() %}
  {% for field in group_fields %}
    {% set tab = field.tab or 'Other' %}
    {% if tab not in tabs %}
      {% set _ = tabs.update({tab: []}) %}
    {% endif %}
    {% set _ = tabs[tab].append(field) %}
  {% endfor %}
{% endfor %}

{% if tabs|length > 1 %}
  <div class="btn-group ms-3" role="tablist">
    {% for tab in tabs.keys() %}
      <button class="btn btn-sm btn-outline-primary {% if loop.first %}active{% endif %}"
              id="tab-{{ tab | lower | replace(' ', '-') }}-tab"
              data-bs-toggle="pill"
              data-bs-target="#tab-{{ tab | lower | replace(' ', '-') }}"
              type="button"
              role="tab"
              aria-controls="tab-{{ tab | lower | replace(' ', '-') }}"
              aria-selected="{{ 'true' if loop.first else 'false' }}">
        {{ tab }}
      </button>
    {% endfor %}
  </div>
{% endif %}
