{% extends 'layouts/base_view.html' %}
{% import 'macros/layout.html' as layout %}
{% import 'macros/forms.html' as forms %}

{% block form_content %}
  {# General Information Tab #}
  {{ layout.tabs_navigation([
    {'name': 'General', 'id': 'general', 'icon': 'info-circle'}
  ]) }}

  {% call layout.tabs_content() %}
    {# General Tab #}
    {% call layout.tab_pane('general', active=true) %}
      {% call layout.section('About') %}
        <div class="row">
          {{ forms.render_field({
            'label': 'Company Name',
            'name': 'name',
            'value': '',
            'required': true
          }, read_only=false) }}

          {{ forms.render_field({
            'label': 'Description',
            'name': 'description',
            'type': 'textarea',
            'value': ''
          }, read_only=false, column_class="col-md-12") }}
        </div>
      {% endcall %}
    {% endcall %}
  {% endcall %}

  {{ forms.render_footer_buttons(entity=None, read_only=false) }}
{% endblock %}