{% extends 'layouts/crud_base_view.html' %}
{% import 'macros/layout.html' as layout %}
{% import 'macros/forms.html' as forms %}
{% import 'macros/entity.html' as entity %}

{% block form_content %}
  {% set tabs = [
    {'name': 'Notes', 'id': 'notes', 'icon': 'info-circle', 'active': true, 'template': 'shared_tabs/notes.html'},
    {'name': 'General', 'id': 'general', 'icon': 'info-circle', 'template': 'pages/companies/tabs/about.html'},
    {'name': 'Contacts', 'id': 'contacts', 'icon': 'address-book', 'template': 'pages/companies/tabs/contacts.html'},
    {'name': 'Opportunities', 'id': 'opportunities', 'icon': 'chart-line', 'template': 'pages/companies/tabs/opportunities.html'},
    {'name': 'Capabilities', 'id': 'capabilities', 'icon': 'tools', 'template': 'pages/companies/tabs/capabilities.html'}
  ] %}

  {{ layout.tabs_navigation(tabs) }}

  {% call layout.tabs_content() %}
    {% for tab in tabs %}
      {% include tab.template %}
    {% endfor %}
  {% endcall %}
{% endblock %}