{% extends 'layouts/crud_base_view.html' %}
{% import 'macros/layout.html' as layout %}
{% import 'macros/forms.html' as forms %}
{% import 'macros/entity.html' as entity %}

{% block form_content %}
  {% set tabs = [
    {'name': 'Notes', 'id': 'notes', 'icon': 'info-circle', 'active': true, 'template': 'shared_tabs/notes.html'},
    {'name': 'Profile', 'id': 'profile', 'icon': 'user', 'active': true, 'template': 'pages/users/tabs/profile.html'},
    {'name': 'Account', 'id': 'account', 'icon': 'lock', 'template': 'pages/users/tabs/account.html'},
    {'name': 'Permissions', 'id': 'permissions', 'icon': 'shield-alt', 'template': 'pages/users/tabs/permissions.html'},
    {'name': 'Activity', 'id': 'activity', 'icon': 'history', 'template': 'pages/users/tabs/activity.html'}
  ] %}

  {{ layout.tabs_navigation(tabs) }}

  {% call layout.tabs_content() %}
    {% for tab in tabs %}
      {% include tab.template %}
    {% endfor %}
  {% endcall %}
{% endblock %}