{% set tabs = {} %}
{% for field in fields %}
  {% set tab = field.tab or 'Other' %}
  {% if tab not in tabs %}
    {% set _ = tabs.update({tab: []}) %}
  {% endif %}
  {% set _ = tabs[tab].append(field) %}
{% endfor %}

{% if tabs|length > 1 %}
  <div class="btn-group ms-3" role="tablist">
    {% for tab in tabs.keys() %}
      <button class="btn btn-sm btn-outline-primary {% if loop.first %}active{% endif %}"
              id="tab-{{ tab | lower | replace(' ', '-') }}-tab"
              data-bs-toggle="pill"
              data-bs-target="#tab-{{ tab | lower | replace(' ', '-') }}"
              type="button"
              role="tab"
              aria-controls="tab-{{ tab | lower | replace(' ', '-') }}"
              aria-selected="{% if loop.first %}true{% else %}false{% endif %}">
        {{ tab }}
      </button>
    {% endfor %}
  </div>
{% endif %}
