<!-- START TEMPLATE: view.html -->

{% extends "pages/page_templates/_create_view_edit_template.html" %}

{% block create_view_edit_content %}
  <div class="tab-content">
    {% for tab in ui %}
      <div class="tab-pane fade {% if loop.first %}show active{% endif %}"
           id="tab-{{ tab.tab_name | lower | replace(' ', '-') }}"
           role="tabpanel"
           aria-labelledby="tab-{{ tab.tab_name | lower | replace(' ', '-') }}-tab">
        {% for section in tab.sections %}
          <h5 class="mt-3">{{ section.section_name }}</h5>
          {% for entry in section.entries %}
            {{ macros.render_field(entry, read_only=True) }}
          {% endfor %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
