<!-- START TEMPLATE: view_users.html -->

{% extends "base/create_view_edit/_create_view_edit.html" %}

{% block view_template_content %}
  <div class="tab-content">
    {% block dynamic_content %}
      <!-- Insert the dynamic content for users here -->
      {% include 'base/create_view_edit/_section_layout.html' %}
    {% endblock dynamic_content %}
  </div>

  {% if activity_notes is defined and activity_notes|length > 0 %}
    {% from "base/macros/render_notes.html" import render_notes %}
    {{ render_notes(activity_notes) }}
  {% endif %}
{% endblock view_template_content %}

<!-- END TEMPLATE: view_users.html -->
