{% import "macros/cards.html" as cards %}
{% import "macros/highlights.html" as highlights %}

{% macro heading_section(heading_text, subtext) %}
<div class="row mb-4">
  <div class="col-12">
    <div class="bg-white p-4 rounded shadow-sm">
      <h1 class="page-heading">{{ heading_text }}</h1>
      <p class="page-heading-subtext">{{ subtext }}</p>
    </div>
  </div>
</div>
{% endmacro %}

{% macro large_cards(card_configs) %}
  <div class="row mb-4">
    {% for config in card_configs %}
      {{ cards.large_card(
        config.icon, config.color,
        config.title, config.description,
        config.url
      ) }}
    {% endfor %}
  </div>
{% endmacro %}

{% macro highlights_section(stats_data, highlights_data, title="Summary") %}
<div class="row mb-4">
  <div class="col-12">
    <div class="card border-0 shadow-sm">
      <div class="card-header bg-white">
        <h2 class="section-card-heading">{{ title }}</h2>
      </div>
      <div class="card-body">
        <div class="row">
          {% for stat in stats_data %}
            {{ cards.stats_card(stat.value, stat.label, stat.color) }}
          {% endfor %}
        </div>

        {{ highlights.highlights(highlights_data) }}
      </div>
    </div>
  </div>
</div>
{% endmacro %}