{% extends 'layouts/crud_base_view.html' %}
{% import 'macros/layout.html' as layout %}
{% import 'macros/forms.html' as forms %}
{% import 'macros/entity.html' as entity %}

{% block form_content %}
  {% set tabs = [
    {'name': 'Notes', 'id': 'notes', 'icon': 'info-circle', 'active': true, 'template': 'shared_tabs/notes.html'},
    {'name': 'General', 'id': 'general', 'icon': 'check-circle', 'template': 'pages/tasks/tabs/general.html'},
    {'name': 'Details', 'id': 'details', 'icon': 'list-ul', 'template': 'pages/tasks/tabs/details.html'},
    {'name': 'Related', 'id': 'related', 'icon': 'link', 'template': 'pages/tasks/tabs/related.html'}
  ] %}

  {{ layout.tabs_navigation(tabs) }}

  {% call layout.tabs_content() %}
    {% for tab in tabs %}
      {% include tab.template %}
    {% endfor %}
  {% endcall %}
{% endblock %}