{% extends 'layouts/crud_base_view.html' %}
{% import 'macros/layout.html' as layout %}
{% import 'macros/forms.html' as forms %}
{% import 'macros/entity.html' as entity %}

{% block form_content %}
  {% set tabs = [
    {'name': 'General', 'id': 'general', 'icon': 'check-circle', 'active': true},
    {'name': 'Details', 'id': 'details', 'icon': 'list-ul'},
    {'name': 'Related', 'id': 'related', 'icon': 'link'}
  ] %}

  {{ layout.tabs_navigation(tabs) }}

  {% call layout.tabs_content() %}
    {% for tab in tabs %}
      {% call layout.tab_pane(tab.id, active=tab.active|default(false)) %}
        {% include 'pages/tasks/tabs/' + tab.id + '.html' %}
      {% endcall %}
    {% endfor %}
  {% endcall %}
{% endblock %}