{% extends 'layouts/crud_base_view.html' %}
{% import 'macros/layout.html' as layout %}
{% import 'macros/forms.html' as forms %}
{% import 'macros/entity.html' as entity %}

{% block form_content %}
  {% set tabs = [
    {'name': 'Notes',        'id': 'notes',        'icon': 'info-circle',   'active': true,  'template': 'shared_tabs/notes.html'},
    {'name': 'General',      'id': 'general',      'icon': 'user-circle',   'active': false, 'template': 'pages/contacts/tabs/general.html'},
    {'name': 'Professional', 'id': 'professional', 'icon': 'briefcase',     'active': false, 'template': 'pages/contacts/tabs/professional.html'},
    {'name': 'Companies',    'id': 'companies',    'icon': 'building',      'active': false, 'template': 'pages/contacts/tabs/companies.html'},
    {'name': 'Technologies', 'id': 'technologies', 'icon': 'laptop-code',    'active': false, 'template': 'pages/contacts/tabs/technologies.html'}
  ] %}

  {{ layout.tabs_navigation(tabs) }}

  {% call layout.tabs_content() %}
    {% for tab in tabs %}
      {% call layout.tab_pane(tab.id, active=tab.active) %}
        {% include tab.template %}
      {% endcall %}
    {% endfor %}
  {% endcall %}
{% endblock %}
```