{% extends 'layouts/base_view.html' %}
{% import 'macros/layout.html' as layout %}
{% import 'macros/forms.html' as forms %}
{% import 'macros/entity.html' as entity %}

{% block form_content %}
  {# General Information Tab #}
  {{ layout.tabs_navigation([
    {'name': 'General', 'id': 'general', 'icon': 'user-circle'},
    {'name': 'Professional', 'id': 'professional', 'icon': 'briefcase'},
    {'name': 'Companies', 'id': 'companies', 'icon': 'building'},
    {'name': 'Technologies', 'id': 'technologies', 'icon': 'laptop-code'}
  ]) }}

  {% call layout.tabs_content() %}
    {# General Tab #}
    {% call layout.tab_pane('general', active=true) %}
      {% call layout.section('Personal Details') %}
        <div class="row">
          {{ forms.render_field({
            'label': 'ID',
            'type': 'readonly',
            'value': id
          }, read_only=read_only) }}

          {{ forms.render_field({
            'label': 'First Name',
            'name': 'first_name',
            'value': first_name,
            'required': true
          }, read_only=read_only) }}

          {{ forms.render_field({
            'label': 'Last Name',
            'name': 'last_name',
            'value': last_name,
            'required': true
          }, read_only=read_only) }}
        </div>
      {% endcall %}

      {% call layout.section('Contact Information') %}
        <div class="row">
          {{ forms.render_field({
            'label': 'Email',
            'name': 'email',
            'type': 'email',
            'value': email,
            'required': true
          }, read_only=read_only) }}

          {{ forms.render_field({
            'label': 'Phone Number',
            'name': 'phone_number',
            'value': phone_number
          }, read_only=read_only) }}
        </div>
      {% endcall %}
    {% endcall %}

    {# Professional Tab #}
    {% call layout.tab_pane('professional') %}
      {% call layout.section('Role Information') %}
        <div class="row">
          {{ forms.render_field({
            'label': 'Role',
            'name': 'role',
            'value': role
          }, read_only=read_only) }}

          {{ forms.render_field({
            'label': 'Role Level',
            'name': 'role_level',
            'value': role_level
          }, read_only=read_only) }}

          {{ forms.render_field({
            'label': 'Role Description',
            'name': 'role_description',
            'type': 'textarea',
            'value': role_description
          }, read_only=read_only, column_class="col-md-12") }}
        </div>
      {% endcall %}

      {% call layout.section('Skills & Expertise') %}
        <div class="row">
          {{ forms.render_field({
            'label': 'Primary Skill Area',
            'name': 'primary_skill_area',
            'value': primary_skill_area
          }, read_only=read_only) }}

          {{ forms.render_field({
            'label': 'Skill Level',
            'name': 'skill_level',
            'value': skill_level
          }, read_only=read_only) }}

          {{ forms.render_field({
            'label': 'Expertise Areas',
            'name': 'expertise_areas',
            'type': 'textarea',
            'value': expertise_areas
          }, read_only=read_only, column_class="col-md-12") }}
        </div>
      {% endcall %}

      {% call layout.section('Responsibilities') %}
        <div class="row">
          {{ forms.render_field({
            'label': 'Team Roles & Responsibilities',
            'name': 'team_roles_responsibilities',
            'type': 'textarea',
            'value': team_roles_responsibilities
          }, read_only=read_only, column_class="col-md-12") }}

          {{ forms.render_field({
            'label': 'Responsibilities',
            'name': 'responsibilities',
            'type': 'textarea',
            'value': responsibilities
          }, read_only=read_only, column_class="col-md-12") }}
        </div>
      {% endcall %}
    {% endcall %}

    {# Companies Tab #}
    {% call layout.tab_pane('companies') %}
      {% if company_id %}
        {{ entity.render_entity_table(
          [{'id': company_id, 'name': company_name}],
          'Associated Company',
          [
            {'key': 'name', 'label': 'Company Name'}
          ],
          '/companies'
        ) }}
      {% else %}
        {{ entity.render_empty_state('No company associated with this contact.') }}
      {% endif %}
    {% endcall %}

    {# Technologies Tab #}
    {% call layout.tab_pane('technologies') %}
      {% call layout.section('Technical Skills') %}
        <div class="row">
          {{ forms.render_field({
            'label': 'Programming Languages',
            'name': 'programming_languages',
            'type': 'textarea',
            'value': programming_languages
          }, read_only=read_only, column_class="col-md-6") }}

          {{ forms.render_field({
            'label': 'Cloud Platforms',
            'name': 'cloud_platforms',
            'type': 'textarea',
            'value': cloud_platforms
          }, read_only=read_only, column_class="col-md-6") }}
        </div>

        <div class="row">
          {{ forms.render_field({
            'label': 'DevOps Tools',
            'name': 'devops_tools',
            'type': 'textarea',
            'value': devops_tools
          }, read_only=read_only, column_class="col-md-6") }}

          {{ forms.render_field({
            'label': 'CI/CD Tools',
            'name': 'ci_cd_tools',
            'type': 'textarea',
            'value': ci_cd_tools
          }, read_only=read_only, column_class="col-md-6") }}
        </div>

        <div class="row">
          {{ forms.render_field({
            'label': 'Version Control Systems',
            'name': 'version_control_systems',
            'type': 'textarea',
            'value': version_control_systems
          }, read_only=read_only, column_class="col-md-6") }}

          {{ forms.render_field({
            'label': 'Monitoring & Logging',
            'name': 'monitoring_logging',
            'type': 'textarea',
            'value': monitoring_logging
          }, read_only=read_only, column_class="col-md-6") }}
        </div>

        <div class="row">
          {{ forms.render_field({
            'label': 'Technologies Led',
            'name': 'technologies_led',
            'type': 'textarea',
            'value': technologies_led
          }, read_only=read_only, column_class="col-md-6") }}

          {{ forms.render_field({
            'label': 'Other Technologies',
            'name': 'other_technologies',
            'type': 'textarea',
            'value': other_technologies
          }, read_only=read_only, column_class="col-md-6") }}
        </div>
      {% endcall %}

      {% call layout.section('Certifications') %}
        <div class="row">
          {{ forms.render_field({
            'label': 'Certifications',
            'name': 'certifications',
            'type': 'textarea',
            'value': certifications
          }, read_only=read_only, column_class="col-md-12") }}
        </div>
      {% endcall %}
    {% endcall %}
  {% endcall %}
{% endblock %}