{% extends "base/page_templates/_create_view_edit_template.html" %}

{% block content %}
  <div class="tab-content">
    {% for tab in ui %}
      <div class="tab-pane fade {% if loop.first %}show active{% endif %}"
           id="tab-{{ tab.tab_name | lower | replace(' ', '-') }}"
           role="tabpanel"
           aria-labelledby="tab-{{ tab.tab_name | lower | replace(' ', '-') }}-tab">
        {% for section in tab.sections %}
          <h5 class="mt-3">{{ section.section_name }}</h5>
          <div class="row">
            {% for entry in section.entries %}
              {{ macros.render_field(entry) }}
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>

  {# Autocomplete and footer components are included once here #}
  {% include 'base/common/_autocomplete.html' %}

  {# If there's an error, show a toast message using toasts.js #}
  {% if error_message %}
    <script type="module">
      import { showToast } from "/static/js/toasts.js";
      document.addEventListener('DOMContentLoaded', () => {
        const message = {{ ("Error creating " ~ model_name ~ ": " ~ error_message) | tojson }};
        showToast(message, "error");
      });
    </script>
  {% endif %}
{% endblock %}
